<a href="https://colab.research.google.com/github/Timoooooooootttthhyyyyyyy/Timothy/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num=int(input('Enter the number to display the corresponding number'))
for i in range(1,11):
  print(i,"x",num,"=",i*num)

Enter the number to display the corresponding number 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [5]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

 10
10
20
30
40
50
60
70
80
90
100

In [12]:
x=input('Enter a number: ')
k=0
for i in x:
  k=k+1
print(k)

Enter a number: 10
2

In [22]:
name=input('Enter a username: ')
if name.isupper():
  print(name.lower())
else:
  print(name.upper())

Enter a username: timothy
TIMOTHY

In [17]:
x=input('Enter a name: ')
k=0
for i in x:
  k=k+1
print(k)

Enter a name:  Timothy
9