<a href="https://colab.research.google.com/github/Timoooooooootttthhyyyyyyy/Timothy/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x=input('Enter a travel source')
y=input('Enter a travel destination')
z=int(input('Number of passengers'))
print(x,y,z)

Enter a travel source India
Enter a travel destination Saudi Arabia
Number of passengers 3256
 India  Saudi Arabia 3256

In [7]:
x=int(input('Number of pssengers'))
y=int(input('Passengers total ticket fare'))
a=y/x
print('Ticket fare per person',a)

Number of pssengers 100
Passengers total ticket fare 5000
Ticket fare per person 50.0

In [9]:

x=input('Passengers name')
y=int(input('Total ticket fare'))
print(x,y)

Passengers name Timothy Chacko
Total ticket fare 1000
 Timothy Chacko 1000

In [10]:
x=int(input('Salary'))
if x>10000:
  print('Eligible for discount')
else:
  print('Not eligible for discount')

Salary 30000
Eligible for discount

In [11]:
x=int(input('Total ticket fare'))
if x>15000:
  print('Eligible for 20% discount')
else:
  print('Eligible for 10% discount')

Total ticket fare 10000
Eligible for 10% discount

In [27]:
x=int(input('Discounted fares'))
if x>=15000:
  a=x*20/100
  print('Discounted fare',x-a)
if x>10000 and x<15000:
  b=x*10/100
  print('Discounted fare',x-b)
if x<10000:
  c=x*5/100
  print('Discountd fare',x-c)

Discounted fares20000
Discounted fare 16000.0

In [29]:
x=int(input('Enter a number'))
if x>0:
  print('The number is positive')
if x<0:
  print('The number is negative')
if x==0:
  print('The number is zero')

Enter a number 10000
The number is positive

In [31]:
x=int(input('Age of the passenger'))
if x>18:
  print('Adult')
if x>13 and x<19:
  print('Teenager')
if x>6 and x<12:
  print('Kid')
if x>2 and x<5:
  print('Toddler')
if x<2:
  print('Infant')

Age of the passenger 15
Teenager

In [32]:
x=input('Enter the initial of the name')
if x in('a','e','i','o','u'):
  print('vowel')
else:
  print('not vowel')

Enter the initial of the name T
not vowel

In [34]:
x=input('Enter your name')
for i in x:
  print(i)

Enter your name Timothhy

T
i
m
o
t
h
h
y

In [37]:
for a in range(45,89,2):
  print(a)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [47]:
i=0
for a in range(1,11):
  i=i+a
  print(i)

1
3
6
10
15
21
28
36
45
55