<a href="https://colab.research.google.com/github/Timoooooooootttthhyyyyyyy/Timothy/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input('Enter your name')
print(x)
y=(input('Enter the number'))
print(y)

Enter your name Timothy Chacko
 Timothy Chacko
Enter the number 8891557762
 8891557762

In [ ]:
m1=int(input('Enter the mark of sub1'))
m2=int(input('Enter the mark ofsub2'))
m3=int(input('Enter the mark '))
sum=m1+m2+m3
print(sum)
avg=sum/3
print(avg)

Enter the mark of sub1 40
Enter the mark ofsub2 20
Enter the mark  10
70
23.333333333333332

In [20]:
m1=int(input('Enter the number'))
m2=int(input('enter the number'))
m3=int(input('enter the number'))
if m1>m2 and m1>m3:
  print( 'the largest number', m1)
if m2>m1 and m2>m3:
  print(' the largest number',m2)
else:
  print(' the largest number',m3)

Enter the number 50
enter the number 90
enter the number 10
 the largest number 90

In [30]:
m1=int(input('Enter the number'))
if m1%2==0:
  print('its an even number')
if m1%2!=0: 
  print('its an odd number')

Enter the number 6
its an even number

In [34]:
x=int(input('enter a number'))
y=int(input('enter a number'))
for i in range(x,y):
  if i%2==0:
    print(i,'is even')

enter a number 10
enter a number 20
10 is even
12 is even
14 is even
16 is even
18 is even

In [35]:
for a in range(10,20):
  print(a)

10
11
12
13
14
15
16
17
18
19

In [38]:
x=int(input('enter a number'))
for a in range(1,11):
  print(x*a)

enter a number 2
2
4
6
8
10
12
14
16
18
20