<a href="https://colab.research.google.com/github/Timoooooooootttthhyyyyyyy/Timothy/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input('Enter a value'))
if x<0:
  print(x*-1)

Enter a value-20
20

In [ ]:
x=int(input('Enter a number'))
if x>80:
  print('A')
elif x>60 and x<=80:
  print('B')
elif x>50 and x<=60:
  print('C')
elif x>45 and x<=50:
  print('D')
elif x>25 and x<=45:
  print('E')
elif x<25:
  print('F')

Enter a number 59
C

In [ ]:
x=int(input('Enter classes held'))
y=int(input('Enter classes attended'))
a=y/x*100
n=75*100/100
if a<n:
  print('not allowed')
elif a>n:
  print('Allowed')

Enter classes held 20
Enter classes attended 5
not allowed

In [ ]:
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")
print("5.Modulus")
print("6.Floor Division")
print("7.Exponent")
x=int(input('Select a number'))
m1=int(input('Enter a number'))
m2=int(input('Enter a number'))
if x==1:
  print(m1+m2)
if x==2:
  print(m1-m2)
if x==3:
  print(m1*m2)
if x==4:
  print(m1/m2)
if x==5:
  print(m1%m2)
if x==6:
  print(m1//m2)
if x==7:
  print(m1**m2)

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Modulus
6.Floor Division
7.Exponent
Select a number1
Enter a number19
Enter a number20
39

In [16]:
m1=int(input('Enter marks score in F.A'))
m2=int(input('Enter marks scored in French'))
m3=int(input('Enter marks scored in English'))
m4=int(input('Enter marks scored in CRA'))
m5=int(input('Enter marks scored in DMBS'))
print('Least marks:',min(m1,m2,m3,m4,m5))
print('Maximum marks:',max(m1,m2,m3,m4,m5))

Enter marks score in F.A 30
Enter marks scored in French 31
Enter marks scored in English 25
Enter marks scored in CRA 40
Enter marks scored in DMBS 9
Least marks: 9
Maximum marks: 40